@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap");

* {
  font-family: "Kantumruy Pro", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
}

.f-70 {
  font-size: 70px;
}

.f-60 {
  font-size: 60px;
}

.f-50 {
  font-size: 50px;
}

.f-40 {
  font-size: 40px;
}

.f-30 {
  font-size: 30px;
}

.f-20 {
  font-size: 20px;
}
